<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dcmobile.tpgames"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/two_player_icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.dcmobile.tpgames.SplashActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.dcmobile.tpgames.TicTacToe"
            android:label="TicTacToe"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.dcmobile.tpgames.Connect4"
            android:label="Connect Four"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.dcmobile.tpgames.Checkers"
            android:label="Checkers"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.dcmobile.tpgames.Chess"
            android:label="Chess"
            android:screenOrientation="portrait" >
        </activity>
    </application>

</manifest>